<?xml version="1.0"?>
<app title="stich bar">
	<style background="black"/>
	
	<image location="img/header.png" stretch="true"/>	
    
    <panel title="stitch bar" opened="true" color="#003366" textcolor="#003366" bgcolor="#9DD7EF">
    	<![CDATA[
        <div style="position:absolute;top:135px;left:249px;width:359px;height:284px;-adbe-c:c">
    				<font color="white" face="FontName, Century Gothic">Openings Hours</font>
					<p><font size="3" color="white" face="FontName, Century Gothic">Monday to Wednesday 4pm - 12am</font></p>
					<p><font size="3" color="white" face="FontName, Century Gothic">Thurs - Fri 12pm til 2am</font></p>
					<p><font size="3" color="white" face="FontName, Century Gothic">Saturday 4pm til 2am</font></p>
					<address></address>
					<address><font color="white" face="FontName, Century Gothic">61 York St Sydney</font></address>
					<address></address>
					<address><font color="#c3ff00" face="FontName, Century Gothic"><a href="mailto:info@stitchbar.com">info@stitchbar.com</a></font></address>
					<address></address>
					<address><font size="4" color="white">Download menu <a id="Men" name="Men" href="http://stitchbar.com/downloads/stitch_web.pdf" target="_blank">here</a></font></address>
				</div>
            ]]>
    </panel>
    
	<footer color="white" bgcolor="black">
		<email link="bud.crew@gmail.com"/>
		<phone link="+61292624986"/>
		<map link="338+kent+street+nsw+2000"/>
		<twitter link="http://twitter.com/#!/since_i_leftyou"/>
		<facebook link="http://www.facebook.com/SinceILeftYouSydney"/>
	</footer>
</app>