<?xml version="1.0"?>
<app title="RedOak | Boutique Beer Cafe">
	<style background="white"/>
	
	<image location="img/header.jpg" stretch="true"/>
	
	<panel title="About Us" opened="false" color="#003366" textcolor="#003366" bgcolor="#9DD7EF">
		<![CDATA[
			<p>Premier outdoor pool and café venue</p>

			<p>The Andrew 'Boy' Charlton Pool features an eight lane 50m salt water pool and a shaded learners pool, both of which are heated.</p> 
				
			<p>The cafe and function facilities make an excellent venue for a variety of events.</p>
			
			<p>We also have a fitness room, where yoga and karate classes run weekly, as well as a therapy suite where you can book a massage with Massotherapy.</p>

			Our facility also features:
				<ul>
				<li>Terraced seating</li>
				<li>Disabled family changerooms</li>
				<li>Disabled access to the pool (hoist and easy stairs)</li>
				<li>Hot showers</li>
				<li>Squads, Swimming Lessons, and Private lessons</li>
				<li>Weekly Biathlon with Anderson Events</li>
				<li>Lockers to store your valuables</li>
				</ul>
				
		]]>
	</panel>
	<panel title="Lessons/Squad" opened="false" color="#003366" textcolor="#003366" bgcolor="#9DD7EF">
		<![CDATA[
		]]>
	</panel>
	<panel title="Charlton Room" opened="false" color="#003366" textcolor="#003366" bgcolor="#9DD7EF">
		<![CDATA[
		]]>
	</panel>
	<panel title="Lane Availability" opened="false" color="#003366" textcolor="#003366" bgcolor="#9DD7EF">
		<![CDATA[
		]]>
	</panel>
	<panel title="Prices" opened="false" color="#003366" textcolor="#003366" bgcolor="#9DD7EF">
		<![CDATA[
		]]>
	</panel>
	<panel title="Contact Us" opened="false" color="#003366" textcolor="#003366" bgcolor="#9DD7EF">
		<![CDATA[
		]]>
	</panel>
	<panel title="Links" opened="false" color="#003366" textcolor="#003366" bgcolor="#9DD7EF">
		<![CDATA[
		]]>
	</panel>
	<panel title="Poolside Cafe" opened="false" color="#003366" textcolor="#003366" bgcolor="#9DD7EF">
		<![CDATA[
		]]>
	</panel>
	<footer color="#003366" bgcolor="#9DD7EF">
		<email link="abc@belgravialeisure.com.au"/>
		<phone link="+61293586686"/>
		<map link="1C+Mrs.+Macquaries+Road,+The+Domain+Sydney+2000"/>
		<facebook link="http://www.facebook.com/pages/Bodhi-Restaurant-Bar/145049932208860"/>
	</footer>
</app>