<?xml version="1.0"?>
<app title="Untitled Mobile App">
	<style titles="#666" texts="#515151" />
	
	<image location="img/header.jpg" stretch="true" />
	
	<panel title="Sample Panel 1" opened="true">
		<![CDATA[
			&copy; <b>Lorem ipsum dolor sit amet</b>, consectetur adipiscing elit. Integer venenatis dapibus purus quis scelerisque. <i>Pellentesque habitant morbi tristique senectus</i> et netus et malesuada fames ac turpis egestas. Nunc laoreet erat a nisi fringilla ultrices. Sed sed magna sapien, id rhoncus erat.
		]]>
	</panel>
	<panel title="Sample Panel 2" color="red" bgcolor="#8dcb5b">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis dapibus purus quis scelerisque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc laoreet erat a nisi fringilla ultrices. Sed sed magna sapien, id rhoncus erat.
	</panel>
	<panel title="Sample Panel 3" color="green" textcolor="#451045">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis dapibus purus quis scelerisque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc laoreet erat a nisi fringilla ultrices. Sed sed magna sapien, id rhoncus erat.
	</panel>
	<panel title="Sample Panel 4">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis dapibus purus quis scelerisque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc laoreet erat a nisi fringilla ultrices. Sed sed magna sapien, id rhoncus erat.
	</panel>
	<panel title="Sample Panel 5">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis dapibus purus quis scelerisque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc laoreet erat a nisi fringilla ultrices. Sed sed magna sapien, id rhoncus erat.
	</panel><panel title="Sample Panel 2">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis dapibus purus quis scelerisque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc laoreet erat a nisi fringilla ultrices. Sed sed magna sapien, id rhoncus erat.
	</panel>
	<panel title="Sample Panel 3">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis dapibus purus quis scelerisque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc laoreet erat a nisi fringilla ultrices. Sed sed magna sapien, id rhoncus erat.
	</panel>
	<panel title="Sample Panel 4">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis dapibus purus quis scelerisque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc laoreet erat a nisi fringilla ultrices. Sed sed magna sapien, id rhoncus erat.
	</panel>
	<panel title="Sample Panel 5">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis dapibus purus quis scelerisque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc laoreet erat a nisi fringilla ultrices. Sed sed magna sapien, id rhoncus erat.
	</panel>
	<footer>
		<text><![CDATA[
			&copy; Somebody There
		]]></text>
		<facebook link="" />
		<twitter link="" />
	</footer>
</app>