<?xml version="1.0"?>
<app title="Untitled Mobile App">
	<style titles="#666" texts="#515151" />
	
	<image location="img/header.jpg" stretch="true" />
	
	<panel title="Home" opened="false">
		<![CDATA[
			Welcome to Fight Gym 
			Whether you want to be a fit fighter or just fighting fit, the team at Fight Gym can help you achieve your fitness goals. All classes are lead by qualified instructors for each discipline, so you know that your training is cutting edge, safe and designed to help you get what you want.
			For more than 15 years we have helped thousands of people set and achieve goals. We do it with a lot of sweat, a few tears, and occasionally a little blood. The pay-off is a healthier, fitter and happier YOU.
			Fight Gym is friendly, flexible and affordable. There is a package here for everyone, so drop by and check us out to learn more.
			Fight Gym Fight Night 8 - Battle on the Harbour. The date and venue has been confirmed and the serious end of training has begun. For details on competing, volunteering and ticket sales, check it out  here.
		]]>
	</panel>
	<panel title="About Us">
		<![CDATA[
			Fight Gym started as a small Martial Arts studio in a back street lane way of Manly in 1994. Within a year our members started dominating fight events in the local area. We started getting noticed by local media and it wasn't long before athletes from other sports came to us for cross training.
			Not surprisingly, our membership grew week by week. So much so that Fight Gym needed more space. Today, Fight Gym has two locations and has plans to expand further.
			Fight Gym is renowned for the class of our fighters. We have amateur and professional champions at all levels from novice to World Champions.
			The bulk of our membership however, is made up of ordinary people who want to train in an extraordinary environment. You see, even though you may never fight in the ring, sometimes the challenges of everyday life are just like a fight. At Fight Gym we believe that training for mediocrity simply isn't good enough. Our members deserve the best and that's what we deliver... the best... every single day... every single session.
			If you cant make it to either of our locations at Manly Beach or Sydney City, keep an eye out for us in your area soon. Better still, drop us a line for suggestions on where you would like to see the next Fight Gym open.
		]]>
	</panel>
	<panel title="City Timetable">
		<![CDATA[
			<table>
				Come and try your first class for free at either Fight Gym Sydney City or Fight Gym Manly Beach. There are no high pressure sales and no contracts... ever.
				Expect to work hard and really enjoy yourself too. No gimmicks. No excuses.
				Are you ready...?
				<tr>
					<td>Monday</td>
					<td>Tuesday</td>
					<td>Wednesday</td>
					<td>Thursday</td>
					<td>Friday</td>
				</tr>
					<td>HB 7.10:8.00</td>
					<td>HB 7.10:8.00</td>
					<td>HB 7.10:8.00</td>
					<td>HB 7.10:8.00</td>
					<td>HB 7.10:8.00</td>
				<tr>
			</table>
		]]>
	</panel>
	<footer>
		<text><![CDATA[
			© Fight Gym 1994 - 2011
		]]></text>
		<facebook link="" />
		<twitter link="" />
	</footer>
</app>