<?xml version="1.0"?>
<app title="Untitled Mobile App">
	<style titles="#666" texts="#515151" />
	
	<image location="img/ipad2.jpg" stretch="true" />
	
	<panel title="Sample Menu" opened="true">
		<![CDATA[
			Something something something. 
		]]>
	</panel>
	<footer>
		<text><![CDATA[
			&copy; Somebody There
		]]></text>
		<facebook link="" />
		<twitter link="" />
	</footer>
</app>